body { 
    margin:0;
    padding:0;
    font-family: 'Noto Serif SC', serif;
}

a { 
    color:#c91320;
    text-decoration:none; 
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
}  
  
a:hover, a:active {
    background-color: red;
}

h1 { 
    font-weight: bold;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h1.welcome {
    font-family: 'Noto Serif SC', serif;
    font-weight: bolder;
    font-size: 36px;
}

h2 {
    font-weight: normal;
}

h2.title {
    font-family: 'Playfair Display', serif;
    margin-right: 10px;
}

#code {
    font-family: "Courier New", Courier, monospace;
}

div.post-header {
    display: flex;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    font-family: 'Noto Serif SC', serif;
    float: right;
    width: 30%;
    padding: 10px;
    background:#efefef; 
    height: 100%;
}

ul.sidemenu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

ul.sidemenu > li {
    margin: 10px 0;
}

p.date { 
    color:#3a9880;
    font-family: 'Scope One', serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

p.tags {
    font-weight: bolder;
    background-color: cadetblue;
    display: flex;
}

p.tags > a {
    background-color: cadetblue;
}

p.tags > a:hover, a:active {
    background-color: red;
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}

input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}

input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}

.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}

.comment:nth-child(even) {
    background:#efefef;
}

.comment .info {
    font-weight:bold;
    font-size:14px;
    color:#666;
}