{% block content %}
    <h1>Quotes</h1>
    {% if quote_list %}
    <ul>
        {% for quote in quote_list %}
        <li>
            <em>"{{ quote.text }}"</em> - {{ quote.author }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no quotes yet.</p>
    {% endif %}
{% endblock %}
