{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>

<p class="date">
    Published {{ post.publish }} by {{ post.author }}
</p>

{{ post.body|linebreaks }}

{% autoescape off %}{{ post.htmlbody }}{% endautoescape %}

<p class="tags">
    {% for tag in post.tags.all %}
    <a href="{% url "blog:post_list_by_tag" tag.slug %}">
        {{ tag.name }}
    </a>
    {% endfor %}
</p>

{% with similar_posts.count as nsimilar %}
{% if nsimilar > 0 %}
<h2>and also:</h2>
<ul>
{% for post in similar_posts %}
<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<hr />

{% with comments.count as total_comments %}
{% if total_comments > 0 %}
<h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% else %}
No comments (yet).
{% endif %}
{% endwith %}

{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
</div>
{% endfor %}

{% if new_comment %}
<h2>Your comment has been added.</h2>
{% else %}
<h2>Add new comment</h2>
<form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
</form>
{% endif %}

{% endblock %}
