{% extends "blog/base.html" %}

{% block title %}last in...{% endblock %}

{% block content %}
<h1 class="welcome">Whatever comes first</h1>
{% if tag %}
<h2>What I have to say about <em>{{ tag.name }}</em>:</h2>
{% endif %}
{% for post in posts %}
<div class="post-header">
    <h2 class="title">
        <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
        </a>
    </h2>
    <p class="tags">
        {% for tag in post.tags.all %}
        <a href="{% url "blog:post_list_by_tag" tag.slug %}">
            {{ tag.name }}
        </a>
        {% endfor %}
    </p>
</div>
<p class="date">Published {{ post.publish }} bij {{ post.author }}</p>
<div class="post-body">
    {{ post.body|truncatewords:30|linebreaks }}
</div>
{% endfor %}

{% include "pagination.html" with page=posts %}

{% endblock %}
