.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-gap: 1rem;
    justify-content: center;
}

.video {
    grid-column: span 3;
    width: 100px;
}

.logo {
    grid-column: span 2;
}

.social-medium {
    grid-column: span 2;
    background-color: aquamarine;
}

.social-medium {
    background-color: coral;
}

div.item {
    border: 1px solid red;
}