{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/grid.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif+SC|PT+Serif|Playfair+Display|Scope+One|Trocchi" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div class="item live">live</div>
            <div class="item bio">bio</div>
            <div class="item music">music</div>
            <div class="item logo">logo</div>
            <div class="item lyric">lyric</div>            
            <div class="item video"><img src="{% static "media/fondo.jpg" %}" alt="Ruge" /></div>
            <div class="item social-medium">social-medium</div>
            <div class="item social-small">social-small</div>
        </div>
    </body>
</html>




