{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/facebook.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif+SC|PT+Serif|Playfair+Display|Scope+One|Trocchi" rel="stylesheet">
    </head>
    <body>
        <div id="fb-root"></div>
        <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=327174864056221"></script>
        <div class="wrapper">
            <div class="item post">
                <div class="fb-post" data-href="https://www.facebook.com/rugelabanda/posts/2329032587421276" data-width="750" data-show-text="true"><blockquote cite="https://www.facebook.com/rugelabanda/posts/2329032587421276" class="fb-xfbml-parse-ignore"><p>Fotos de nuestra pasada presentación en Espacio 56 para la Gira de los amigos de Carlitos Jesus. Pronto nos veremos, en otro rugido! 🤟🔥🎼</p>Posted by <a href="https://www.facebook.com/rugelabanda/">Ruge</a> on&nbsp;<a href="https://www.facebook.com/rugelabanda/posts/2329032587421276">Thursday, February 7, 2019</a></blockquote></div>
            </div>
            <div class="item like">
                    <div class="fb-like" data-href="https://www.facebook.com/rugelabanda/" data-width="750" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
            </div>
    </body>
</html>