<h1>Meetings</h1>

<p>
    I apply a rule of thumb whenever I face a meeting:
    <blockquote>
        There should be at least two topics that must be covered before commiting to a <em>successful</em> meeting:
        <ol>
            <li>What will I contribute to the meeting and at what extent am I willing to dedicate effort to effectively deliver that contribution? Is it feasible? Is the effort achievable within my limited time resources? Do I need to allocate some time?</li>
            <li>What are the takeways I want to get out of the meeting?</li>
        </ol>
    </blockquote>
</p>
<p>
    If either of these conditions is not met, at least one invitee will be wasting his time, and that could be <em>pretty bad</em> if you're in the <a href="http://www.paulgraham.com/makersschedule.html">maker's schedule</a>.
</p>

<h2>Preparation</h2>
<p>
    Given the importance of it, you should always prepare for a meeting in advance, ensuring you have a clear understanding of the two conditions needed for a successful meeting. I think this, in a more <em>relaxed</em> way sometimes applies for non-work related meetings.
</p>

<h3><a name="contribution">Contribution</a></h3>
<p>
    This can be broken down and defined with the help of the following questions:
    <ul>
        <li>Is it feasible?</li>
        <li>Is the effort achievable within my limited time schedule?</li>
        <li>Am I less suited for this kind of contribution than someone else?</li>
        <li>Do I need to allocate additional effort and time to achieve the requested commitment?</li>
    </ul>
</p>
<p>
    Although it might be overwhelming to address all of these nonsense just to attend a meeting, the effort do pays off when you arrive into a meeting and everyone is prepared in a similar way (I bet there are plenty others) for their interests. Time flies, you provide what you were asked and you get what you wanted. Better yet, it could also take for everyone less time than it was originally allocated!
</p>
<p>
    However, few meetings get you really engaged to the extent of going beyond the agreed time. If it does, it's <em>gold time</em>. It's a <em>win-win</em>.
</p>

<h2>The Perfect Timing</h2>
<p>
    There are a few concerns related to the schedule of meetings worth noting from the subject, basically <strong>when</strong> and <strong>how long</strong>.
</p>

<h3>When</h3>
<h4>Day of Week</h3>
<p>
    If it's a not urgent, new, complex and challenging topic, better to handle it towards the end of the week. That gives you time to decant the information, think about it in solitude and hence, make successive attempts at the subject once you have dug deeper into it.
</p>
<p>
    On the other hand, if the topic is urgent, known, not complex nor challenging, makes sense to hold the meeting <abbr title="as soon as possible">ASAP</abbr> since it would most probably generate follow-up actions and hence, you'll need time allocation to address such scenarios after the meeting. If you do it monday or tuesday, then you have a good slice of the week where to lookup time slots to address the actions you need to take upon the meeting's outcome.
</p>

<p>
    All other combinations of the characteristics of the meeting doesn't really influence on what day of the week they should be held.
</p>


<h4>Time of Day</h3>
<p>
    Afternoon, most of the time.
</p>

<h3>How long</h3>

<h4>Duration</h3>
<p>
    30 minutes or less. More than that and people tend to lose concentration and focus.
</p>

<h2>Logistics</h2>

<h3>Calendar</h3>
<p>
    Notifications, integration with email, smartphone.
</p>

<h3>Organizer</h3>
<p>
    Needs to keep up the pace and moderate. Keeping all invitees and conversation on track.
</p>
