{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/blog.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif+SC|PT+Serif|Playfair+Display|Scope+One|Trocchi" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2><a href="/blog">Brain dump</a></h2>
            <p>
                <strong>{% published_posts %} dumps</strong> so far and counting.
                <br /> 
                {% success_rate %}% of success rate.
            </p>
            <ul class="sidemenu">
                <li><a href="{% url "blog:post_list_by_tag" "bands" %}">#bands</a></li>
                <li><a href="{% url "blog:post_list_by_tag" "computer-science" %}">#computer science</a></li>
                <li><a href="tag">... more</a></li>
            </ul>
        </div>
    </body>
</html>
